.artists-list__artist {
  display: flex;

  &__image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  &__info {
    display: block;
  }

  padding: 10px;
  cursor: pointer;      
  &:hover {
    box-shadow: inset 0px 0px 0px 2px tomato;
  }
}
