@import '../node_modules/normalize.css/normalize.css';

.app-container {
  max-width: 800px;
  margin: 0 auto;

  display: flex;

  .list {
    margin-left: 10px;
    margin-right: 10px;
  }
}

::-webkit-scrollbar { 
  display: none; 
}